//Widescreens
@include mediaXL {
   
}

//Desktops & Laptops
@include mediaLg {
   
    
}

//Tablets & Small Laptops
@include mediaMd {
   
}

//Smartphones
@include mediaSm {

    footer {
        padding-top: 60px;
    }

    .current {
        background-color: rgba(163, 163, 163, 0.103);
    }

    img {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 300px;
        height: 86px;
        background-size: 300px 86px;
    }

    .navigation-list {
        flex-direction: column;
        height: 230px;
        width: 250px;
        background-color: transparent;

    }

    .navigation-list-item a {
        min-width: 120px;
        padding: 0 15px;
        border: 1px solid rgba(128, 128, 128, 0.685);
        border-radius: 10px;

        &::after {
            height: 0;
        }
    }

    .contacts {
        width: 300px;
    }

    // about
    .about-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 300px;
        grid-auto-rows: minmax(300px, auto);
        grid-row-gap: 15px;
    }

    .text-element1 {
        grid-row: 2;
        padding: 0;
    }

    .img-element1 {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
    }
    
    .img-element2 {
        grid-column: 1;
        grid-row: 3;
        padding: 0;
    }
    
    .text-element2 {
        grid-column: 1;
        grid-row: 4;
        padding: 0;
    }
}