//Widescreens
@include mediaXL {
    .menu-button {
        display: none;
   }
}

//Desktops & Laptops
@include mediaLg {
   .menu-button {
        display: none;
   }
}

//Tablets & Small Laptops
@include mediaMd {

   .about-info {
       width: 720px;
       grid-auto-rows: minmax(320px, auto);
       grid-auto-columns: minmax(320px, auto);
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       padding: 0 20px;
   }

   .text-element1 {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
    }

    .text-element2 {
        grid-column: 2;
        grid-row: 2;
        padding-left: 20px;
    }

    .img-element1 {
        grid-column: 2;
        grid-row: 1;
    }

    .img-element2 {
        grid-column: 1;
        grid-row: 2;
    }

    .contacts {
        width: 720px;
    }
}

//Smartphones
@include mediaSm {

    // popup

    .signup-popup {
        width: 300px;
        margin-left: -150px;
        margin-top: -150px;
        top: 30%;

        h2 {
            margin-left: -40px;
        }

        .close {
            top: 20px;
            right: 10px;
        }
    }

    .sign-buttons {
        min-height: 90px;
        flex-direction: column;
        justify-content: space-between;
    }

    .signup {
        width: 300px;
    }

    //footer

    footer {
        min-height: 100px;
        padding-top: 60px;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-inner--signup {
        min-height: 40px;
    }

    .button-signup {
        margin-left: auto;
        margin-right: auto;
    }

    .social-list {
        margin-right: auto;
    }

    .current {
        background-color: rgba(163, 163, 163, 0.137);
    }

    //logo

    .logo-link {
        width: 300px;
        height: 86px;
        background-size: 300px 86px;
        margin-top: 70px;
    }

    //navigation

    .menu-button {
        position: fixed;
        z-index: 3;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: 0;
        font: inherit;
        text-transform: uppercase;
        color: $text-color;
    }

    .main-link {
        top: 10px;
        left: 20px;
        text-decoration: none;
        width: 100px;
        color: $text-color;
    }

    .navigation-list {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        width: 250px;
        background-color: transparent;
        
        a {
            color: #fff;

            &:hover,
            &:focus,
            &:active {
                background-color: gray;
            }
        }
    }

    .navigation-list.no-js {
        display: flex;
        height: 200px;
        
        a {
            color: #000;
        }
    }

    .navigation-list-item a {
        min-width: 120px;
        padding: 0 15px;
        border: 1px solid rgba(128, 128, 128, 0.685);
        border-radius: 10px;

        &::after {
            height: 0;
        }
    }

    .current {
        background-color: rgba(163, 163, 163, 0.445);
    }

    .show-menu {
        display: flex;
        position: fixed;
        z-index: 4;
        top: 30%;
        left: 20%;
    }

    .show-menu-button {
        color: #fff;
        z-index: 4;
    }

    .show-overlay2 {
        display: block;
        z-index: 3;
    }

    //contacts

    .contacts {
        width: 300px;
    }

    // about
    .about-info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 300px;
        grid-auto-rows: minmax(300px, auto);
        grid-row-gap: 15px;
    }

    .text-element1 {
        grid-row: 2;
        padding: 0;
    }

    .img-element1 {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
    }
    
    .img-element2 {
        grid-column: 1;
        grid-row: 3;
        padding: 0;
    }
    
    .text-element2 {
        grid-column: 1;
        grid-row: 4;
        padding: 0;
    }
}