.signup {
    box-sizing: border-box;
    width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.signup-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.sign-buttons {
    display: flex;
    margin-top: 30px;
}

.captcha {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 5px;
}